.container__about {
  position: absolute;
  top: 100vh;
  left: 0px;
  width: 100vw;

  display: flex;
  flex-direction: column;

  align-items: center;
  justify-content: center;
}

.container__section {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 100px;
  margin-bottom: 200px;
}

.container__section.preview {
  margin-bottom: 100px;
}

@media only screen and (max-width: 1119px) {
  .container__section {
    margin-top: 20px;
    margin-bottom: 40px;
  }
}

.subsection {
  padding: 20px;
  max-width: 520px;
  width: 100%;
}

.subsection p {
  color: #424242;
  font-size: 0.9em;
  /* padding: 0 10% 0 10%; */
}

@media only screen and (max-width: 1119px) {
  .subsection p {
    padding: 0;
  }
}

.subsection.img {
  max-width: 740px;
}

.subsection .more-link {
  padding-top: 20px;
}
.subsection .more-link a {
  text-decoration: none;
  font-weight: bold;
  color: black;
}

.subsection h3 {
  font-family: 'Libre Baskerville', serif;
  padding: 20px 0% 20px 0%;
  font-weight: 500;
  font-size: 1.5em;
}

.about__image {
  width: 90%;
  position: relative;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.title__about {
  position: relative;
  width: 100%;
  font-family: 'Libre Baskerville', serif;
  font-weight: 500;
  text-align: center;
  margin-top: 60px;
  margin-bottom: 60px;
  font-size: 2.5em;
}

.subline {
  position: absolute;
  bottom: -30px;
  right: 0px;
  height: 10px;
  width: 80%;
  background-color: whitesmoke;
}

.preview_title {
  font-family: 'Libre Baskerville', serif;
  font-weight: 500;
  font-size: 1.5em;
}

.half-preview {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.half-preview img {
  padding: 5px;
}

.separator_preview {
  width: 60px;
  height: 1px;
  background-color: #424242;
  margin-bottom: 100px;
}
