.actuality_container {
  width: 100vw;
  min-height: 100vh;

  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  margin-bottom: 15%;
}

.actuality_container h1 {
  font-family: 'Fredericka the Great', cursive;
  font-size: 3em;
  text-align: center;
  margin-top: 15%;
  margin-bottom: 50px;
}

.actuality_container p {
  margin: auto;
  margin-bottom: 15%;
  width: 80%;
}
