.container-blog {
  padding-top: 10vh;
  margin: auto;
  padding-bottom: 100px;
  width: 50vw;
  line-height: 29px;
  font-family: 'Montserrat', sans-serif;
}

.blog-date {
  width: 100%;
  text-align: center;
  font-size: 0.8em;
}

@media screen and (max-width: 860px) {
  .container-blog {
    width: 80%;
  }
}

.container-blog img {
  width: 100%;
  margin: 60px auto;
}

.container-blog ul {
  margin: auto 20px;
}

.title-blog {
  text-align: center;
  font-family: 'Fredericka the Great', cursive;
  font-size: 3em;
  padding: 10% 0% 50px 0%;
  font-weight: 500;
  margin: 20px auto;
  color: black;
}

h2 i {
  opacity: 0.6;
  font-size: 0.4em;
  background: #ff4e50; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #f9d423,
    #ff4e50
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #f9d423,
    #ff4e50
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.title-blog-section {
  font-family: 'Fredericka the Great', cursive;
  font-size: 3em;
  margin: 120px 0% 20px 0%;
  padding-bottom: 20px;

  font-weight: 500;
}

.element_topPage {
  position: absolute;
  top: 0;
  left: 0;
}

.goTopBlog i {
  color: #ededed;
  position: fixed;
  right: 50px;
  bottom: 50px;
  transition: 0.2s;
}

.goTopBlog i:hover {
  cursor: pointer;
  transform: scale(1.1);
  transition: 0.2s;
  position: fixed;
}
