.landingPage__content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;

  /* position: absolute;
  top: 0;
  left: 0; */

  width: 100vw;
  height: 100vh;

  z-index: 0;

  /* background: url(../images/home/home_picture.jpg) no-repeat center center fixed; */
  /* UNFIXED BACKGROUND */
  background: url(../images/home/landing.jpg) no-repeat center center;
  background-size: cover;
}

@media screen and (max-width: 860px) {
  .landingPage__content {
    align-items: center;
  }
}

.home__title {
  font-family: 'GFS Didot', serif;
  font-weight: 500;

  padding: 10px 20px;
  margin-left: 10%;
  margin-bottom: 50px;
  margin-right: 10px;

  color: white;
  /* background-color: rgba(255, 255, 255, 0.6); */
}

.home__title h1 {
  /* font-size: 1.2em; */
  margin: 50px auto;
}
.home__title p {
  font-weight: 400;
}
.home__title button {
  font-family: 'Montserrat', sans-serif;
  margin: 50px auto;
  font-size: 1em;
  padding: 10px;

  border-radius: 10px;
  border: none;
}
.home__title button:hover {
  cursor: pointer;
}

@media screen and (max-width: 860px) {
  .home__title {
    text-align: center;
    margin: 30px;
  }
}

.scrollbar {
  border-left: 1px solid white;
  height: 50px;

  position: absolute;
  bottom: 0px;
  right: 10%;
}

.scrollbar::after {
  font-family: 'Montserrat', sans-serif;
  content: 'Scroller';
  font-size: 14px;
  color: white;
  position: absolute;
  bottom: 80px;
  right: 0;
  display: inline-block;
  transform: rotate(-90deg) translateY(130%);

  animation-name: scrollDown;
  animation-iteration-count: infinite;
  animation-duration: 5s;
}

@keyframes scrollDown {
  0% {
    bottom: 80px;
  }
  30% {
    bottom: 90px;
  }
  80% {
    bottom: 80px;
  }
  100% {
    bottom: 80px;
  }
}
