.footer-container {
  width: 100vw;
}

.container-school {
  margin: auto;
  width: 80vw;
  line-height: 29px;
  font-family: 'Montserrat', sans-serif;
}

.container-school img {
  width: 100%;
  margin: 60px auto;
}

.summary-school {
  margin: auto;
  width: 80%;

  list-style: none;
}

.summary-school li {
  margin: 15px 0px 15px 0px;
}

.summary-school li a {
  color: #29b6f6;
  text-decoration: none;
  padding-bottom: 3px;
  border-bottom: 1px solid #29b6f6;
  transition: 0.4s;
}
.summary-school li a:hover {
  color: #0288d1;
  transition: 0.4s;
}
.summary-school li a:visited {
  color: #29b6f6;
  text-decoration: none;
}

.title-school {
  font-family: 'Libre Baskerville', serif;
  padding: 20px 0% 10px 0%;
  font-weight: 500;
  font-size: 2em;
}

.title-school-section {
  font-family: 'Libre Baskerville', serif;
  padding: 120px 0% 20px 0%;
  font-weight: 500;
  font-size: 1.5em;
}
