@import './variables.css';

.tooltip {
  width: fit-content;
  padding: 10px;
  position: relative;
  background: #d0d0d0;
  border-radius: 0.4em;
  border: none;
  transition: 0.4s;
  font-family: var(--title-font-family);
  font-size: 1.5em;
  box-shadow: 5px 5px 50px black;
}

.tooltip::after {
  content: '';
  position: absolute;
  top: 0;
  left: 50%;
  width: 0;
  height: 0;
  border: 10px solid transparent;
  border-bottom-color: #d0d0d0;
  border-top: 0;
  border-left: 0;
  margin-left: -13px;
  margin-top: 0px;
  transition: 0.4s;
}

.tooltip:hover {
  transform: scale(1.1) translateY(10px);
  transition: 0.4s;
}

.tooltip:hover.tooltip::after {
  margin-top: -10px;
  transition: 0.4s;
}
